# Targets
./2-Semestre/TP1/Aula05/Ex01/target/
./2-Semestre/TP1/Aula05/Ex02/target/
./2-Semestre/TP1/Aula05/Ex03/target/

# Executables
*.exe
*.out
*.app
/2-Semestre/TP1/Aula09/Lista06/Ex01/target/
/2-Semestre/TP1/Aula10/Ex01/target/
/2-Semestre/TP1/Aula10/Ex02/target/
/2-Semestre/TP1/Aula10/Ex03/target/
/2-Semestre/TP1/Aula10/Ex04/target/
